mixin btnBlue(text, addClass)
    button(class=`border border-blue rounded-90 ${addClass} w-full flex items-center justify-center text-main text-sm font-semibold h-12 w-full hover:opacity-90 transition duration-300`)= text