mixin inputValidate(text, adClass)
    div(class="input-validate relative border border-91 flex items-center justify-between rounded-lg py-2 pl-4 pr-5 h-14")
        input(required type="number" name="example" class=`style-input ${adClass} relative mt-2 text-sm w-full z-10 bg-transparent`)
        label(class="style-input-label absolute text-sm text-gray flex items-center")= text