mixin lk-btn(text)
    a(href='#' class='flex items-center justify-center font-normal border border-blue rounded-3xl w-full px-3 text-main text-sm h-12 hover:opacity-80 transition duration-300')= text