header(class='header bg-white relative shadow-header py-3 z-50')
    div(class="container flex items-center justify-content-between")
        div
            img(src=require('../images/elements/logo.svg') class="logo-mobile" alt='Глав Финанс')
        div(class='grid grid-cols-3 gap-x-3 justify-content-end max-w-[7.5rem] ml-auto')
            a(href='tel:+7800556677' class='flex items-center justify-self-end justify-center w-8 h-8 rounded-full border border-main text-main')
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.9999 11.6957V15.1985C17.0026 15.4561 16.9493 15.7111 16.8436 15.9462C16.7379 16.1812 16.5824 16.3906 16.3876 16.56C16.1929 16.7294 15.9636 16.8548 15.7156 16.9275C15.4675 17.0002 15.2066 17.0185 14.9508 16.9811C11.4047 16.5274 8.11099 14.9113 5.58859 12.3874C3.0662 9.86353 1.45853 6.5754 1.01892 3.04112C0.981534 2.78705 0.999696 2.52794 1.07216 2.28151C1.14463 2.03508 1.26968 1.80716 1.43877 1.61334C1.60786 1.41951 1.817 1.26437 2.05186 1.15851C2.28672 1.05266 2.54177 0.998597 2.79955 1.00003H6.2624C6.4836 0.998691 6.69746 1.07902 6.86271 1.22551C7.02795 1.37201 7.13286 1.57428 7.15719 1.79329C7.24598 2.96141 7.54927 4.10338 8.05198 5.16243C8.13818 5.363 8.14754 5.58809 8.07828 5.79507C8.00901 6.00205 7.86594 6.17654 7.67617 6.28547L6.90665 6.72221C6.79573 6.78298 6.69902 6.8665 6.6229 6.96725C6.54678 7.068 6.49299 7.1837 6.46508 7.30669C6.43717 7.42968 6.43578 7.55717 6.461 7.68074C6.48622 7.80431 6.53747 7.92114 6.61137 8.02352C7.49661 9.31518 8.61643 10.4306 9.91315 11.3124C10.0159 11.3861 10.1332 11.4371 10.2573 11.4622C10.3813 11.4873 10.5093 11.486 10.6328 11.4582C10.7563 11.4304 10.8724 11.3768 10.9735 11.301C11.0747 11.2251 11.1585 11.1288 11.2195 11.0183L11.658 10.2518C11.7739 10.0603 11.9578 9.91915 12.1733 9.85641C12.3888 9.79367 12.62 9.8139 12.8212 9.91309C13.8844 10.4138 15.0308 10.7159 16.2035 10.8044C16.4234 10.8286 16.6265 10.9331 16.7735 11.0977C16.9206 11.2623 17.0012 11.4754 16.9999 11.6957Z" stroke="#444444" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            a(href='#' class='flex items-center justify-self-end justify-center w-8 h-8 rounded-full border border-main text-main')
                <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.75 4.88889C10.75 5.65804 10.5301 6.40992 10.118 7.04944C9.70596 7.68896 9.12029 8.18741 8.43506 8.48175C7.74984 8.7761 6.99584 8.85311 6.26841 8.70305C5.54098 8.553 4.8728 8.18262 4.34835 7.63875C3.8239 7.09488 3.46675 6.40194 3.32206 5.64757C3.17736 4.8932 3.25162 4.11128 3.53545 3.40068C3.81928 2.69007 4.29993 2.08271 4.91661 1.6554C5.5333 1.22808 6.25832 1 7 1C7.99456 1 8.94839 1.40972 9.65165 2.13903C10.3549 2.86834 10.75 3.85749 10.75 4.88889ZM7.75 8.77778H6.25C4.85761 8.77778 3.52226 9.35139 2.53769 10.3724C1.55312 11.3935 1 12.7783 1 14.2222V14.2222C1 14.4285 1.07902 14.6263 1.21967 14.7722C1.36032 14.9181 1.55109 15 1.75 15H12.25C12.4489 15 12.6397 14.9181 12.7803 14.7722C12.921 14.6263 13 14.4285 13 14.2222C13 12.7783 12.4469 11.3935 11.4623 10.3724C10.4777 9.35139 9.14239 8.77778 7.75 8.77778V8.77778Z" stroke="#444444" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            div(class='flex items-center justify-self-end justify-center w-8 h-8 rounded-full border border-main text-main')
                <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1H15M1 11H15H1ZM1 6H15H1Z" stroke="#444444" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

