div(class='short-logo w-10 h-10 bg-[#164194] mx-auto relative overflow-hidden')
    img(src=require('../images/elements/short-logo.svg') alt='Главфинанс' class='short-logo__center block mx-auto absolute')