extends main

block content
    div(class="offer-mobile relative bg-blue text-white pt-8 pb-24 z-10" style="border-radius: 0 0 1.5rem 1.5rem")
        div(class='container')
            h1(class='text-2xl font-semibold') Самое лучшее УТП
            p(class='text-sm mt-2') Подстрочник, который раскрывает его суть и усиливает эффект
    div(class='container')
        div(class='relative top-[-5rem] z-20')
            +calc-sm-v-2
