extends main

block content
    main(class='relative pt-8 pb-24')
        div(class='container')
            h1(class="text-2xl font-semibold mb-2") Как получить займ
            div(class='text-87')
                p Три простых шага, от 4 минут Вашего времени – и деньги у Вас!
            div(class='grid gap-y-4 mt-6')
                div(class='bg-white rounded-lg px-5 py-3 items-center')
                    div(class='flex items-center')
                        div(class='text-5xl w-8 text-[#E3E3E3] leading-none mr-4') 1
                        div(class='font-semibold text-base leading-tight') Заполните простую и&nbsp;удобную заявку
                    div(class='text-87 mt-2') Простая и понятная форма заявки на получение займа. Для ее заполнения Вам понадобятся: Российский паспорт и мобильный телефон. Время заполнения - 4 минуты!
                div(class='bg-white rounded-lg px-5 py-3 items-center')
                    div(class='flex items-center')
                        div(class='text-5xl w-8 text-[#E3E3E3] leading-none mr-4') 2
                        div(class='font-semibold text-base leading-tight') Дождитесь решения по вашей заявке
                    div(class='text-87 mt-2') В процессе решения по вашей заявке мы можем задать уточняющие вопросы, время рассмотрения 60-90 секунд
                div(class='bg-white rounded-lg px-5 py-3 items-center')
                    div(class='flex items-center')
                        div(class='text-5xl w-8 text-[#E3E3E3] leading-none mr-4') 3
                        div(class='font-semibold text-base leading-tight') Подпишите договор и получите деньги
                    div(class='text-87 mt-2') Подпишите договор с помощью уникального СМС-кода, пришедшего на Ваш телефон. Деньги будут мгновенно переведены на банковскую карту
            div(class='mt-6')
                +calc-sm