extends main

block content
    main(class='relative pt-8 pb-24')
        div(class='container')
            h1(class="text-2xl font-semibold") Соломыкин Артём Андреевич
            h4(class='text-base font-semibold mt-4') Новая заявка
            div(class='mt-4')
                +calc-sm-no-register





