extends main

block content
    main(class='relative pt-8 pb-24')
        div(class='container')
            div(class='bg-white rounded-20px shadow-plate text-center px-4 py-6')
                h1(class='text-2xl font-semibold') Рассмотрим вашу&nbsp;заявку
                div(class='text-87 mt-4')
                    p Возможно, в процессе рассмотрения с вами свяжется наш специалист для уточнения деталей
                    p Ожидайте звонок в течение 10 минут или позвоните по номеру
                div
                    a(href="tel:+78007773705" class='text-blue text-xl') 8 800 777 37 05
                div(class='mt-4')
                    include pug/_short-logo
            div(class='mt-8')
                h3(class='text-lg font-semibold') Ответы на частые вопросы
            div(class='mt-4')
                include pug/_questions-block
