extends main

block content
    main(class='relative pt-8 pb-24')
        div(class='container')
            h1(class="text-2xl font-semibold") Микрозайм на карту или счет за 15 минут
            div(class='mt-4')
                +calc-sm
            div(class='mt-10')
                h2(class='text-lg font-semibold mb-4') Взять микрозайм выгоднее по сравнению с долгосрочным кредитом
                div(class='text-87')
                    p Бывают ситуации, когда требуется достаточно небольшая сумма 5 000 - 30 000 рублей, возможность вернуть которую, появляется через 1 -2 недели. Ради таких незначительных, но таких необходимых сумм, многие не желают отпрашиваться с работы, для получения кредита в банке. Тем более, что одним визитом, оформление займа в банке не ограничивается.
                    p Отличное решение, позволяющее преодолеть временно возникшие затруднения c деньгами – подать заявку в нашу компанию. Микрозаймы онлайн от ГлавФинанс – наилучшая альтернатива стандартному способу оформления займа. Идеально подходит тем, кому нужно срочно решить денежный вопрос. Чтобы получить наличные, вам потребуется всего 15 минут для заполнения анкеты.
            div(class='mt-10')
                h2(class='text-lg font-semibold mb-4') Компания ГлавФинанс предоставляет возможность
                div(class='text-87')
                    p Получить сумму до 30 000 рублей
                    p В течении 15 минут вы получите деньги на карту или счет в банке
                    p Без дополнительных документов - микрозаем предоставляется на основании одного документа
                    p Без поручителей - вы не беспокоите своих родных
                    p Без очередей - вам не нужно ни куда ехать и терять время, вся процедура проходит в режиме онлайн, не выходя из дома
                    p Моментальное зачисление средств после одобрения заявки на займ